#root {
  display: flex;
  flex-direction: row;
  justify-content: Center;
  margin: 0 auto;
  padding: 10rem 0rem;
  text-align: center;
}



.main-container {
  width: 30%;
  background: #1A1B21;
  border-radius: 10px 10px 0px 0px;
}


.main-container .about .about__image-container {
  height: 317px;
  aspect-ratio: 16/9;
  width: 100%;
}

.main-container .about .about__image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.main-container .about .about__intro-text {
  padding: 21px 35px 24px;
}

.main-container .about .about__intro-text h1 {
  margin-bottom: 6.20px;
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.main-container .about .about__intro-text h2 {
  margin-bottom: 9px;
  color: #F3BF99;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}



.main-container .about .about__intro-text p a {
  color: #F5F5F5;
  text-decoration: none;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15.36px */
}




.main-container .about .about__intro-text .about__intro-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 9px 11px;
  background: #fff;
  color: #374151;
  border-radius: 6px;
  text-decoration: none;

}

#root .main-container .interest-container {
  padding: 34px 35px 30px;
  text-align: left;
  background: #fff;
}

.main-container .interest-container .interest__text-box-a h3 {
  color: #F5F5F5;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}